In [25]:
import pandas as pd

In [26]:
# Load the data
df = pd.read_csv(filepath_or_buffer="../data/trump_data.csv", dtype={"trump": int})

In [27]:
# Display the first few rows of the data
df.head()

,hand,trump,score
0,"[0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...",0,"[140, 122, 135, 127, 152, 136, 123, 129, 157, ..."
1,"[0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...",1,"[56, 85, 81, 52, 44, 35, 55, 29, 73, 89, 36, 2..."
2,"[0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...",2,"[42, 76, 28, 19, 39, 77, 31, 43, 45, 38, 68, 2..."
3,"[0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...",3,"[109, 62, 101, 63, 91, 72, 102, 107, 103, 73, ..."
4,"[0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...",4,"[70, 51, 65, 107, 99, 104, 126, 54, 101, 126, ..."

In [28]:
# Convert specific columns to lists of integers
df["hand"] = df["hand"].apply(
    lambda x: [int(i) for i in x.replace("[", "").replace("]", "").split(",")]
)
df["score"] = df["score"].apply(
    lambda x: [int(i) for i in x.replace("[", "").replace("]", "").split(",")]
)

In [29]:
# add score average column
df["score_avg"] = df["score"].apply(lambda x: sum(x) / len(x))

In [31]:
# best trump
df.groupby("trump")["score_avg"].mean()

trump
0    77.67279
1    77.52425
2    78.99789
3    75.39861
4    71.43809
5    72.42323
Name: score_avg, dtype: float64